
#loading{
    position: relative;
    width: 100%;
    background-color: #b9d4d5;
    border: 1px solid #b9d4d5;
    z-index: -1;
}

#loading #loadingBlock{
    position: relative;
    width: 36%;
    /*border: 1px solid #303125;*/
    margin: 4% auto;
    overflow: hidden;
    z-index: -1;
}

#loading #loadingBlock #loadingLogo{
    width: 100%;
    display: block;
}


#loading #loadingBlock #loadingBg{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56%;
    z-index: -1;
    -webkit-transition: top 0.5s;
}


#loading #loadingCFC{
    width: 100%;
    position: absolute;
    height: 100px;
    font-size: 26px;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}


#loading #loadingCFC .loadingCFCE{
    position: relative;
    height: 100%;
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
}


#loading #loadingCFC .loadingCFCE span{
    position: relative;
    top: 30px;
}

#loading #loadingCFC .loadingCFCE .loadingCFCMove{
    position: relative;
    top: 30px;
    -webkit-animation: loadingCFCAnimation 1.4s;
}

@-webkit-keyframes  loadingCFCAnimation{
    0%{
        position: relative;
        top: 30px;
    }
    50% {
        position: relative;
        top: 14px;
    }
    100%{
        position: relative;
        top: 30px;
    }
}


@-webkit-keyframes displayAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.homeShowOpacity{
    -webkit-animation: displayAnimation 1.5s;
}
