#page2{
    position: relative;
    width: 100%;
}

#page2 #workTitle{
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
}

#page2 #workShow{
    position: relative;
    width: 900px;
    height: 520px;
    background-image: url(../png/show.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    top: 30px;
}

#page2 #workShow #workShowOpenBtu{
    width: 1.1%;
    height: 1.6%;
    background-color: #97c3ff;
    border-radius: 50%;
    top: 72%;
    left: 83%;
    position: absolute;
    cursor: pointer;
    -webkit-animation: workShowOpenBtuLight 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes workShowOpenBtuLight {
    0%{
        box-shadow: 0px 0px 0px #3e777f;
    }
    85%{
        box-shadow: 0px 0px 20px #3e777f;
    }
    100%{
        box-shadow: 0px 0px 0px #3e777f;
    }
}

#page2 #workShow #workShowScreen{
    width: 83.5%;
    height: 62.3%;
    position: relative;
    margin: auto;
    left: 0.5px;
    border-top-left-radius: 8.5px;
    border-top-right-radius: 8.5px;
    top: 36px;
    background-color: #ffffff;
    display: none;

}

#page2 #workShow .workShowScreenON{
    -webkit-animation: workShow0NScreen 1s;
}

#page2 #workShow .workShowScreenOFF{
    opacity: 0;
    -webkit-animation: workShowOFFScreen 1s;
}

@-webkit-keyframes workShow0NScreen {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes workShowOFFScreen {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#page2 #workShow #workShowScreen #arrow{
    width: 685px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 44%;
}

@-webkit-keyframes workShowArrowLeftMove {
    0%{
        left: 0px;
    }
    50%{
        left: -15px;
    }
    100%{
        left: 0px;
    }
}

@-webkit-keyframes workShowArrowRightMove {
    0%{
        left: 0px;
    }
    50%{
        left: 15px;
    }
    100%{
        left: 0px;
    }
}

#page2 #workShow #workShowScreen #arrow #arrowLeft{
    width: 35px;
    height: 35px;
    background-image: url("../png/arrow_left.png");
    background-size: 100%;
    position: relative;
    float: left;
}

#page2 #workShow #workShowScreen #arrow #arrowLeft:hover{
    -webkit-animation: workShowArrowLeftMove 0.8s;
    -webkit-animation-iteration-count: infinite;
}


#page2 #workShow #workShowScreen #arrow #arrowRight{
    width: 35px;
    height: 35px;
    background-image: url("../png/arrow_right.png");
    background-size: 100%;
    position: relative;
    margin-left: 650px;
}

#page2 #workShow #workShowScreen #arrow #arrowRight:hover{
    -webkit-animation: workShowArrowRightMove 0.8s;
    -webkit-animation-iteration-count: infinite;
}

#page2 #workShow #workShowScreen #workShowWindow{
    position: relative;
    width: 600px;
    height: 300px;
    top: 10px;
    margin: auto;
    overflow: hidden;
}

#page2 #workShow #workShowScreen #workShowWindow #workShowContent{
    position: relative;
    height: 300px;
}

#page2 #workShow #workShowScreen #workShowWindow .workShowContentSingle{
    width: 600px;
    height: 300px;
    position: relative;
    float: left;
    /*background-color: #5e7573;*/
}

#page2 #workShow #workShowScreen #workShowWindow .workShowContentSingle .workShowPhoto{
    position: relative;
    width: 540px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: auto;
    top: 20px;
}

#page2 #workShow #workShowScreen #workShowWindow .workShowContentSingle .workShowMessage{
    position: relative;
    width: 540px;
    height: 60px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    color: #3a372f;
}

