
@font-face {
    font-family: fontEn;
    src: url(../font/BROADW.TTF);
}


body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f9f3e1;
    font-family: fontEn;
    position: absolute;
    top: 0px;
    -webkit-transition: top 1s;
    -webkit-transition-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: hidden;
}



/*********************************Page 1*********************************/

#page1 {
    position: relative;
    width: 100%;
}


#page1 #navigation {
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url("../png/nav_bg.png");
    z-index: 100;
}

#page1 #navigation #logo {
    width: 130px;
    position: relative;
    margin-left: 10%;
}

#page1 #navigation #logo img {
    width: 130px;
}

#page1 #navigation ul {
    width: 68%;
    position: absolute;
    top: 14px;
    right: 4%;
}

#page1 #navigation ul li {
    float: left;
    list-style: none;
    margin-left: 20px;

}

#page1 #navigation ul li a {
    text-decoration: none;
    color: #f2f9e1;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    display: block;
}

#page1 #navigation ul li a:hover {
    color: #5e7573;
    text-shadow: 1px -1px 1px #415251;
}

#page1 #sky {
    width: 100%;
    height: 120px;
    position: relative;
}

#page1 #sky #jump{
    position: absolute;
    top: 20px;
    z-index: 2;
}

#page1 #sky #jump img{
    width: 70px;
}

#page1 #sky #cloud1 {
    position: absolute;
    z-index:3;
}

#page1 #sky #cloud1 img {
    width: 140px;
}

#page1 #sky #cloud2 {
    position: absolute;
    top: 20px;
    z-index: 1;
}

#page1 #sky #cloud2 img {
    width: 100px;
}

#page1 #house {
    position: absolute;
    width: 700px;
    height: 406px;
    margin: auto;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../png/home.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


#page1 #house #windowAll {
    width: 100%;
    position: absolute;
    top: 70px;
}

#page1 #house #windowAll #windowLeft {
    width: 180px;
    position: absolute;
    margin-left: 2%;
    margin-top: 10%;
}

#page1 #house #windowAll #windowCenter {
    width: 330px;
    position: absolute;
    margin-left: 26.5%;
    margin-top:1%;
}

#page1 #house #windowAll #windowRight {
    width: 180px;
    position: absolute;
    right: 0%;
    margin-top: 10%;
}

#page1 #house .winSingle {
    width: 30px;
    height: 40px;
    position: relative;
    margin-left: 8px;
    float: left;
    margin-top: 20px;
}

@-webkit-keyframes openWindow {
    0%{
        width: 0px;
    }
    0.3%{
        width: 0px;
    }
    1.1%{
        width: 240px;
    }
    100%{
        width: 240px;
    }
}

#page1 #house .winSingle:hover .windowBigDemo{
    -webkit-animation: openWindow 100s;
}


#page1 #house .winSingle:hover .winSingleTop {
    background-color: #ece566;
    box-shadow: 0px 0px 10px #ece566;
}

#page1 #house .winSingle:hover .winSingleLeft {
    background-color: #ece566;
    box-shadow: 0px 0px 10px #ece566;
}

#page1 #house .winSingle:hover .winSingleRight {
    background-color: #ece566;
    box-shadow: 0px 0px 10px #ece566;
}

#page1 #house .winSingle:hover .demoManIntroduction {
    -webkit-animation: openmassage 60s;
    -webkit-animation-iteration-count: infinite;
}

#page1 #house .winSingle .winSingleTop {
    width: 22px;
    height: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: #aba9a9;
    position: relative;
    margin-bottom: 2px;
    margin-left: 4px;
    cursor: pointer;
    -webkit-transition: background-color 0.6s, box-shadow 0.6s;
}

#page1 #house .winSingle .winSingleLeft {
    width: 10px;
    height: 21px;
    background-color: #aba9a9;
    position: absolute;
    left: 4px;
    cursor: pointer;
    -webkit-transition: background-color 0.6s, box-shadow 0.6s;
}

#page1 #house .winSingle .winSingleRight {
    width: 10px;
    height: 21px;
    background-color: #aba9a9;
    position: absolute;
    left: 16.5px;
    cursor: pointer;
    -webkit-transition: background-color 0.6s, box-shadow 0.6s;
}

#page1 #house .winSingle .windowBigDemo{
    width: 0px;
    height: 210px;
    position: absolute;
    left: 28px;
    top: -170px;
    /*top: -120px;*/
    /*left: -140px;*/
    z-index: 100;
    overflow: hidden;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg{
    width: 240px;
    height: 210px;
    background-image: url(../png/window_big.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowHouse{
    width: 208px;
    height: 183px;
    position: absolute;
    top: 18px;
    left: 16px;
    overflow: hidden;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowHouse:hover .windowTip{
    display: block;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowName{
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    /*background-color: #000000;*/
    /*-webkit-animation: rotatePhoto 2s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    z-index: 1;
}

@-webkit-keyframes rotatePhoto {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowPhoto{
    width: 140px;
    height: 140px;
    position: relative;
    margin: auto;
    top: -8px;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation: rotatePhoto 2s;
    -webkit-animation-iteration-count: infinite;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowTip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #303125;
    opacity: 0.8;
    display: none;
    z-index: 3;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowTip .windowTipContent{
    width: 90%;
    position: relative;
    color: #ffffff;
    padding: 0px 8px 0px 8px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);

    overflow: hidden;
    cursor: pointer;
}

#page1 #house .winSingle .windowBigDemo .windowBigBg .windowTip .windowTipContent a{
    color: #ffffff;
}

#rail{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 1.7%;
    background-image: url(../png/rail.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

#openWindowTip{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 14%;
}


/*********************************Page 2*********************************/
/*#page2{*/
    /*position: relative;*/
    /*height: 668px;*/
    /*width: 100%;*/
/*}*/

/*#page2 #title{*/
    /*position: relative;*/
    /*width: 500px;*/
    /*left: 50%;*/
    /*margin-left: -250px;*/
    /*margin-top: 30px;*/
/*}*/

/*#page2 #workShow{*/
    /*width: 1152px;*/
    /*height: 411px;*/
    /*position: relative;*/
    /*background-image: url(../png/show_new.png);*/
    /*padding: 1px;*/
    /*left: 50%;*/
    /*margin-left: -580px;*/
    /*margin-top: 60px;*/
/*}*/

/*#page2 #workShow #arrow{*/
    /*width: 40px;*/
    /*height: 110px;*/
    /*position: absolute;*/
    /*top: 140px;*/
    /*right:80px;*/
/*}*/

/*#page2 #workShow #arrow #arrowUp{*/
    /*width: 60px;*/
    /*height: 48px;*/
    /*background-image: url(../png/arrow.png);*/
    /*background-position: 0px 0px;*/
    /*cursor: pointer;*/
/*}*/

/*#page2 #workShow #arrow #arrowUp:hover{*/
    /*background-image: url(../png/arrow_after.png);*/
    /*background-position: 0px 0px;*/
/*}*/

/*#page2 #workShow #arrow #arrowDown{*/
    /*width: 60px;*/
    /*height: 50px;*/
    /*background-image: url(../png/arrow.png);*/
    /*background-position: 0px -50px;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
    /*cursor: pointer;*/
/*}*/

/*#page2 #workShow #arrow #arrowDown:hover{*/
    /*background-image: url(../png/arrow_after.png);*/
    /*background-position: 0px -50px;*/
/*}*/

/*#page2 #workShow #workWindow{*/
    /*width: 930px;*/
    /*height: 260px;*/
    /*position: relative;*/
    /*margin-left: 90px;*/
    /*margin-top: 65px;*/
    /*overflow: hidden;*/
/*}*/

/*#page2 #workShow #workWindow #workAll{*/
    /*width: 930px;*/
    /*position: relative;*/
/*}*/

/*#page2 #workShow #workWindow #workAll .workShowSingle{*/
    /*width: 930px;*/
    /*height: 260px;*/
    /*position: relative;*/
/*}*/

/*#page2 #workShow #workWindow #workAll .workShowSingle .workPhoto{*/
    /*width: 600px;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*border-radius: 10px;*/
    /*overflow: hidden;*/
/*}*/

/*#page2 #workShow #workWindow #workAll .workShowSingle .workPhoto img{*/
/*}*/

/*#page2 #workShow #workWindow #workAll .workShowSingle .workMessage{*/
    /*width: 270px;*/
    /*height: 200px;*/
    /*position: relative;*/
    /*top: -260px;*/
    /*margin-left: 620px;*/
    /*padding:30px 20px 30px 20px;*/
    /*color: #303125;*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*border-radius: 10px;*/
/*}*/